.checkbox {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2.25em;
  color: var(--checkbox-off-color);
}

svg {
  width: var(--checkbox-width, 2.5em);
  height: var(--checkbox-height, 2.5em);
  fill: currentColor;
}

.checkbox.checked svg {
  color: var(--color-base);
}