:host {
  --color-base: var(--checkbox-off-color);
}



.checkbox {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2.25em;
  color: var(--color-base);
}

svg {
  width: var(--checkbox-width, 4em);
  height: var(--checkbox-height, 4em);
  fill: currentColor;
  visibility: hidden;
}

.checkbox.checked svg {
  visibility: visible;
}