:host {
  --color-base: currentColor;
  position: relative;
  --size-base: var(--icon-size, 1.5em);
  margin: var(--icon-margin, 0);
}

.icon {
  display: flex;
}

svg {
  width: var(--size-base);
  height: var(--size-base);
  fill: currentColor;
}

svg g[fill],
svg g [fill]  {
  fill: inherit;
}

svg path[style],
svg g[style] {
  fill: inherit !important;
}

img {
  width: var(--icon-width, 4em);
  height: var(--icon-height, 4em);
  object-fit: contain;
}

:host([crop]) img {
object-fit: none;
}

:host([shape="round"]) img {
  border-radius: 1.5em;
}
:host([shape="circle"]) img {
  border-radius: 50%;
}

svg[viewBox="0 0 448 512"] {
  width: calc( var(--size-base) * 112.5%);
  height: calc( var(--size-base) * 112.5%);
}

:host([color]) svg {
  fill: var(--color-base);
  color: var(--color-base);
}

:host([invert]) {
  background: var(--color-base);
  border-radius: 0.5em;
  width: calc(var(--size-base) * 1.5);
  height: calc(var(--size-base) * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

:host([invert][color]) svg {
  fill: var(--color-contrast);
}

:host([popup-target]) {
  cursor: pointer;
}

::slotted(ftui-badge),
::slotted(ftui-icon),
::slotted(ftui-label)  {
  top: -0.75em;
  position: absolute;
  right: -0.75em;
}

:host([right]:not([right=""])),
:host([left]:not([left=""])),
:host([top]:not([top=""])),
:host([bottom]:not([bottom=""]))  {
  position: absolute;
}