ftui-knob svg {
  margin: 0px;
  padding: 0;
  cursor: pointer;
}
 
 
ftui-knob .outline,
ftui-knob .fill,
ftui-knob .center,
ftui-knob .needle,
ftui-knob .scale {
  pointer-events: none;
}
 
ftui-knob .outline[stroke=""] {
  stroke: var(--gray);
}
 
ftui-knob .fill[stroke=""] {
  stroke: var(--primary-color);
}
 
ftui-knob .needle[fill=""] {
  fill: var(--red);
}
 
ftui-knob .scale {
  stroke: var(--text-color);
}

ftui-knob .value {
  font-size: 2.5em;
  fill: var(--text-color);
  font-weight: lighter;
}
 
ftui-knob text {
  text-anchor: middle;
  font-size: 0.8em;
  font-weight: lighter;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
