ftui-label {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ftui-label.is-empty {
  flex: initial;
}

ftui-label #wrapper {
    flex-direction: row;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
