ftui-grid {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

ftui-grid  ftui-grid-tile {
  background-color: var(--grid-background-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ftui-grid ftui-grid-tile.round {
  border-radius: 17px;
}

ftui-grid ftui-grid-tile header {
  color: var(--grid-header-color);
  background: var(--grid-header-background-color);
  margin-bottom: auto;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2em;
  width: 100%;
  text-align: center;
}

ftui-grid ftui-grid-tile header.transparent,
.dialog > header.transparent,
.card > header.transparent {
  background: transparent;
}
