ftui-weather #icon {
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ftui-weather #icon:before {
  font-size: 3.125em;
}

ftui-weather #text {
  font-size: 1em;
}