html, body, main {
  height: 100%;
  width: 100%;
}

main {
  overflow: auto;
}

body {
  width: auto;
  margin: 0;
  /* disable selection */
  user-select: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.robotothin {
  font-family: robotothin, sans-serif;
}

/* colors */

.bg-grey, .btn-grey {
  background-color: var(--grey);
}

.bg-grey32 {
  background-color: var(--grey32) !important;
}

.bg-gray, .btn-gray {
  background-color: var(--grey) !important;
}

.bg-gray-trans, .btn-gray-trans {
  background-color: var(--gray-trans) !important;
}

.bg-lightgray, .btn-lightgray {
  background-color: var(--lightgray) !important;
}

.bg-orange, .btn-orange {
  background-color: var(--orange) !important;
}

.bg-red, .btn-red {
  background-color: var(--red) !important;
}

.bg-tomato {
  background-color: var(--tomato) !important;
}

.bg-green, .btn-green {
  background-color: var(--green) !important;
}

.bg-seagreen {
  background-color: var(--seagreen) !important;
}

.bg-mint, .btn-mint {
  background-color: var(--mint) !important;
}

.bg-ligthblue, .btn-ligthblue {
  background-color: var(--ligthblue) !important;
}

.bg-blue, .btn-blue {
  background-color: var(--blue)!important;
}

.bg-royalblue {
  background-color: var(--royalblue) !important;
}

.bg-white, .btn-white {
  background-color: var(--white) !important;
}

.bg-black, .btn-black {
  background-color: var(--black) !important;
}

.bg-yellow, .btn-yellow {
  background-color: var(--yellow) !important;
}

.bg-transparent, .btn-transparent {
  background-color: var(--transparent) !important;
}

.bg-grey, .btn-grey {
  background-color: var(--grey);
}

.bg-grey32 {
  background-color: var(--grey32) !important;
}

.bg-gray, .btn-gray {
  background-color: var(--grey) !important;
}

.bg-gray-trans, .btn-gray-trans {
  background-color: var(--gray-trans) !important;
}

.bg-lightgray, .btn-lightgray {
  background-color: var(--lightgray) !important;
}

.bg-orange, .btn-orange {
  background-color: var(--orange) !important;
}

.bg-red, .btn-red {
  background-color: var(--red) !important;
}

.bg-tomato {
  background-color: var(--tomato) !important;
}

.bg-green, .btn-green {
  background-color: var(--green) !important;
}

.bg-seagreen {
  background-color: var(--seagreen) !important;
}

.bg-mint, .btn-mint {
  background-color: var(--mint) !important;
}

.bg-ligthblue, .btn-ligthblue {
  background-color: var(--ligthblue) !important;
}

.bg-blue, .btn-blue {
  background-color: var(--blue)!important;
}

.bg-royalblue {
  background-color: var(--royalblue) !important;
}

.bg-white, .btn-white {
  background-color: var(--white) !important;
}

.bg-black, .btn-black {
  background-color: var(--black) !important;
}

.bg-yellow, .btn-yellow {
  background-color: var(--yellow) !important;
}

.bg-transparent, .btn-transparent {
  background-color: var(--transparent) !important;
}

.stroke-grey {
  stroke: var(--grey) !important;
}

.stroke-grey32 {
  stroke: var(--grey32) !important;
}

.stroke-gray, .btn-gray {
  stroke: var(--grey) !important;
}

.stroke-gray-trans, .btn-gray-trans {
  stroke: var(--gray-trans) !important;
}

.stroke-lightgray, .btn-lightgray {
  stroke: var(--lightgray) !important;
}

.stroke-orange, .btn-orange {
  stroke: var(--orange) !important;
}

.stroke-red, .btn-red {
  stroke: var(--red) !important;
}

.stroke-tomato {
  stroke: var(--tomato) !important;
}

.stroke-green, .btn-green {
  stroke: var(--green) !important;
}

.stroke-seagreen {
  stroke: var(--seagreen) !important;
}

.stroke-mint, .btn-mint {
  stroke: var(--mint) !important;
}

.stroke-ligthblue, .btn-ligthblue {
  stroke: var(--ligthblue) !important;
}

.stroke-blue, .btn-blue {
  stroke: var(--blue) !important;
}

.stroke-royalblue {
  stroke: var(--royalblue) !important;
}

.stroke-white, .btn-white {
  stroke: var(--white) !important;
}

.stroke-black, .btn-black {
  stroke: var(--black) !important;
}

.stroke-yellow, .btn-yellow {
  stroke: var(--yellow) !important;
}

.stroke-transparent, .btn-transparent {
  stroke: var(--transparent) !important;
}

.black {
  color: var(--black) !important;
}

.white {
  color: var(--white) !important;
}

.orange {
  color: var(--orange) !important;
}

.red {
  color: var(--red) !important;
}

.lightred {
  color: var(--lightred) !important;
}

.tomato {
  color: var(--tomato) !important;
}

.green {
  color: var(--green) !important;
}

.seagreen {
  color: var(--seagreen-lighter) !important;
}

.mint {
  color: var(--mint) !important;
}

.lightblue {
  color: var(--lightblue) !important;
}

.royalblue {
  color: var(--royalblue-lighter) !important;
}

.blue {
  color: var(--blue) !important;
}

.grey {
  color: var(--grey) !important;
}

.grey66 {
  color: var(--grey66) !important;
}

.gray {
  color: var(--gray) !important;
}

.yellow {
  color: var(--yellow) !important;
}

.lightgray {
  color: var(--lightgray) !important;
}

.border-black {
  border: 3px solid var(--black);
}

.border-white {
  border: 3px solid var(--white);
}

.border-orange {
  border: 3px solid var(--orange);
}

.border-red {
  border: 3px solid var(--red);
}

.border-green {
  border: 3px solid var(--green);
}

.border-mint {
  border: 3px solid var(--mint);
}

.border-lightblue {
  border: 3px solid var(--lightblue);
}

.border-blue {
  border: 3px solid var(--blue);
}

.border-gray {
  border: 3px solid var(--gray);
}

.border-yellow {
  border: 3px solid var(--yellow);
}

.border-lightgray {
  border: 3px solid var(--lightgray);
}

/* end of colors */ 


/* nav */

#header-nav {
  height: 4.5em;
  line-height: 4.5em;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.49);
  -moz-box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.49);
  box-shadow: 0px 3px 5px rgba(150, 150, 150, 0.49);
}

#header-nav~.page {
  height: calc(100% - 55px);
}

@media screen and (max-width: 480px) {
  #header-nav~.page {
    height: 100%;
  }
}

.fixed {
  backface-visibility: hidden;
  position: fixed;
  z-index: 2;
  transition: transform 300ms ease;
}

header.fixed#header-nav+main#panel {
  margin-top: 55px;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.lift {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* responsive menu */

.menu~main>.page {
  padding-left: 180px;
  width: auto;
}

*:not(.circlemenu-wrapper)>.menu {
  background: #1D1F20;
  height: 100vh;
  width: 180px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}

.menu ul {
  list-style: none;
  padding: 2em 0;
  margin: 0;
}

.menu header {
  text-align: center;
  margin-top: 0.7em;
}

.menu ul li {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.95em;
  text-align: initial;
  transition: all 0.15s linear;
  cursor: pointer;
}

.menu ul li span {
  padding: 0.2em 0.5em;
  font-size: 0.9em;
}

.menu ul li div[data-type="link"] {
  text-align: left;
}

.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu ul li:focus {
  outline: none;
}

@media screen and (max-width: 900px) and (min-width: 480px) {
  .menu~main>.page {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu ul li {
    height: 60px;
    position: relative;
    padding: 0.5em 1em 0.5em 2.1em;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-1em, -50%, 0);
    -webkit-transform: translate3d(-1em, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
    -webkit-transform: translate3d(0px, -50%, 0);
  }
}

@media screen and (max-width: 480px) {
  .menu~main>.page {
    padding-left: 0px;
  }
  .menu {
    width: 230px !important;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    -webkit-transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #1D1F20;
  }
  .menu .menu-trigger:before, .menu .menu-trigger:after {
    content: '';
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
  }
  .menu .menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
  }
  .menu.show {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
}

/* End responsive menu */

/* Toolbar */

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f7f7f8;
  height: 67px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #c4c4c4;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.tab-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .tab-bar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .tab-bar .tab-link {
    width: auto;
    min-width: 105px;
  }
}

.tab-link {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  flex-direction: column;
}

.tab-labels, span.tab-label {
  line-height: 1.7em;
  display: block;
  margin: 0;
  letter-spacing: .01em;
  font-size: 85%;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .tab-labels, span.tab-label {
    font-size: 100%;
  }
}

.tab-link>.fa-stack {
  width: 1em !important;
  height: 1em !important;
  line-height: 1em !important;
}

div[data-type="link"]>div.fa {
  font-size: 2em;
  line-height: 1em;
}

/* end toolbar */

/* row column cell */

.row, [class*=row-] {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.cell.align-right {
  align-items: end;
}

.cell.align-left {
  align-items: start;
}

.cell.align-bottom {
  justify-content: end;
}

.cell.align-top {
  justify-content: start;
}

.cell.align-space-between {
  justify-content: space-between;
}

.cell.align-space-around {
  justify-content: space-around;
}

.h-5 {
  height: 5%;
}

.h-8 {
  height: 8.3%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-12 {
  height: 12.5%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-33 {
  height: 33%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-66 {
  height: 66%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 80%;
}

.h-95 {
  height: 95%;
}

.h-100 {
  height: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-align {
  vertical-align: top !important;
}

.bottom-align {
  vertical-align: bottom !important;
}

/* end Rom column cell */


.truncate, .nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}


.darker {
  color: #8C8C8C;
}

.thin {
  font-weight: 100;
}

.grande.thin {
  font-family: robotothin, sans-serif;
}

.great.thin, .tall.thin {
  font-family: robotothin, sans-serif;
  font-weight: normal !important;
}

.gigantic {
  font-size: 144px !important;
  font-family: robotothin, sans-serif;
  line-height: 120px;
}

.grande {
  font-size: 600% !important;
}

.huge {
  font-size: 500% !important;
}

.great {
  font-size: 450% !important;
}

.tall {
  font-size: 350% !important;
}

.xxxxl {
  font-size: 300% !important;
}

.bigger, .xxxl {
  font-size: 200% !important;
}

.xxl {
  font-size: 175% !important;
}

.big, .xl {
  font-size: 150% !important;
}

.large.thin {
  letter-spacing: 1.1px;
}

.large, .l {
  font-size: 125% !important;
}

.normal {
  font-size: 100% !important;
}

.small {
  font-size: 80% !important;
}

.tiny {
  font-size: 60% !important;
}

.mini {
  font-size: 50% !important;
}

/* end font sizes */


.verticalLine {
  border-right-style: outset;
}

.horizontalLine {
  border-top: 1px solid;
  opacity: 0.7;
}

[data-type="pagetab"] .label {
  font-size: 50% !important;
  white-space: nowrap;
  padding-top: 2em;
  color: #8C8C8C;
}

.labelright[data-type="pagetab"] .label {
  padding-top: 0px;
  padding-left: 52px;
}




/* toDo: sort */
.fa.thin {
  font-weight: 100;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}




ul, ol {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.hw-accelerate {
  transform: translateZ(0);
  will-change: transform;
}


.led {
  height: 2em;
  width: 2em;
}

.led:after {
  content: " ";
}

.led.square {
  height: 1em;
  width: 2em;
  border-radius: 3px;
}

#shade {
  position: absolute;
  z-index: 1001;
  background-color: #000000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.fa-blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}



.blurry {
  color: transparent !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.half-transparent {
  opacity: .5 !important;
}

.transparent {
  opacity: 0;
}

img.faded {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .2 !important;
}

[data-type="image"].white>img [data-type="image"]>img.white {
  filter: invert(1);
}

[data-type="image"].blue>img, [data-type="image"]>img.blue {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

[data-type="image"].green>img, [data-type="image"]>img.green {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(125deg);
}

[data-type="image"].yellow>img, [data-type="image"]>img.yellow {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(25deg);
}

[data-type="image"].orange>img, [data-type="image"]>img.orange {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(0deg);
}

[data-type="image"].red>img, [data-type="image"]>img.red {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(-45deg);
}

[data-type="image"].gray>img, [data-type="image"]>img.gray {
  filter: invert(0.5) sepia(1) saturate(0);
}

[hide-invalid].is-invalid, .hide {
  display: none !important;
}

.shake {
  animation: shake 100ms ease-in-out infinite;
}

.fail-shake {
  -webkit-animation: fail-shake .5s linear;
  animation: fail-shake .5s linear;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes marquee {
  0% {
    text-indent: 100%
  }
  100% {
    text-indent: 0%
  }
}

@keyframes marquee {
  0% {
    text-indent: 100%
  }
  100% {
    text-indent: 0%
  }
}

@keyframes shake {
  2% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
  }
  6% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  8% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  14% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  16% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  18% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  22% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  24% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg);
  }
  34% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg);
  }
  36% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  40% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  44% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  46% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  48% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
  50% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  52% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  58% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  60% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  62% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  66% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  72% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg);
  }
  74% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  76% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  78% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  82% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  84% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  86% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  88% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  90% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

@-webkit-keyframes fail-shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes fail-shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

.flashNow {
  animation-name: flash;
  animation-timing-function: ease-out;
  animation-duration: .4s;
}

@keyframes flash {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}

.marquee {
  width: 100%;
  margin: auto;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
}

.drop-hover {
  border: 3px dotted #3a7999;
  color: #3a7999;
  background: rgba(0, 0, 0, 0);
}

.drag {
  transition: all 0.15s ease-out;
  cursor: move;
}

.drag:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}