@import "./color-attributes.css"; 

:root {

  --blue: #3880ff;
  --indigo: #9400d3;
  --purple: #87606f;
  --pink: #e83e8c;
  --red: #db4846;
  --orange: #f8b13e;
  --yellow: #f6d55c;
  --green: #32a054;
  --teal: #20c997;
  --cyan: #17a2b8;
  --brown: #bf7a37;
  --white: #fff;
  --gray: #393939;
  --black: #000000;
  --primary: #3880ff;
  --secondary: #173f5f;
  --success: #3caea3;
  --info: #66aaFF;
  --warning: #ffe066;
  --danger: #ed553b;
  --light: #e5e5e5;
  --medium: #8c8c8c;
  --dark: #3f3f3f;
  --dark-light: #535353;
  --darker: #333333;
  --darkest: #272727;

  --primary-color: var(--primary);
  --secondary-color: var(--secondary);

  --success-color: var(--success);
  --info-color: var(--info);
  --warning-color: var(--warning);
  --danger-color: var(--red);
  --light-color: var(--light);
  --medium-color: var(--medium);
  --dark-color: var(--dark);
  --success-danger-color: var(--warning);

  --cold-color: var(--blue);
  --hot-color: var(--red);
  --cold-hot-mix-color: var(--indigo);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--black);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

  --text-color: var(--darkest);
  --inactive-text-color: #A39B9B;

  --view-toolbar-color: var(--darkest);
  --view-toolbar-background-color: rgba(248, 248, 248, 0.9);
  --view-content-color: var(--white);
  --view-background-color: var(--light);
  --view-footer-color: var(--white);
  --view-item-background-color: var(--white);
  --view-border-color: rgb(200, 199, 204);

  --page-background-color: var(--light);

  --grid-background-color: var(--white);
  --grid-header-color: var(--darkest);
  --grid-header-background-color: var(--white);

  --tab-color: var(--medium);
  --tab-contrast-color: var(--primary-contrast-color);
  --tab-active-color: var(--primary);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: rgba(0, 0, 0, 0.5);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);
  
  --circlemenu-overlay-color: var(--black);

  --chart-text-color: var(--dark);
  --chart-legend-color: var(--dark);
  --chart-title-color: var(--dark);
  
  --border-color: var(--medium);

  --switch-off-color: var(--medium);
  --checkbox-off-color: var(--medium);

  --slider-track-color: var(--light);
  --slider-handle-shadow: 1px 1px 4px #ddd;
  --slider-handle-border: 1px solid #f2f2f2;
  
  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: var(--white);
  --swiper-dot: var(--dark-color);
  --swiper-dot-active: var(--info);

  --segments-background-color: var(--light);
  --segments-separator-color: rgb(200, 199, 204);
  --segments-selection-color: var(--primary);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--light);
  --segments-text-color: var(--text-color);

  --knob-outline-color: var(--medium);
  --meter-background-color: var(--light);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
}
