/* "primary", "secondary", "success", "warning", "danger", "light", "medium", "dark" */

/* "primary", "secondary", "ok",                 "error",  "white", "medium", "dark" */

/*                         "green",   "yellow",  "red",    "light", "medium", "dark" */

[color="primary"] {
  --color-base: var(--primary-color);
  --color-contrast: var(--primary-contrast-color);
  --color-shade: var(--seagreen);
}

[color="secondary"] {
  --color-base: var(--secondary-color);
  --color-contrast: var(--secondary-contrast-color);
}

[color="light"] {
  --color-base: var(--light-color);
  --color-contrast: var(--light-contrast-color);
}

[color="medium"], [color="gray"] {
  --color-base: var(--medium-color);
  --color-contrast: var(--medium-contrast-color);
}

[color="dark"] {
  --color-base: var(--dark-color);
  --color-contrast: var(--dark-contrast-color);
}

[color="ok"], [color="success"], [color="green"] {
  --color-base: var(--success-color);
  --color-contrast: var(--success-contrast-color);
}

[color="warning"], [color="yellow"] {
  --color-base: var(--warning-color);
  --color-contrast: var(--warning-contrast-color);
}

[color="danger"], [color="error"], [color="alert"], [color="red"] {
  --color-base: var(--danger-color);
  --color-contrast: var(--danger-contrast-color);
}

[color="blue"] {
  --color-base: var(--lightblue);
  --color-contrast: var(--success-contrast-color);
}

[color="orange"] {
  --color-base: var(--orange);
  --color-contrast: var(--success-contrast-color);
}

[color="violet"] {
  --color-base: var(--violet);
  --color-contrast: var(--success-contrast-color);
}

[color="brown"] {
  --color-base: var(--brown);
  --color-contrast: var(--dark-contrast-color);
}

[color="black"] {
  --color-base: var(--black);
  --color-contrast: var(--dark-contrast-color);
}

[color="white"] {
  --color-base: var(--white);
  --color-contrast: var(--light-contrast-color);
}

[color="current"] {
  --color-base: currentColor;
}

[color="grid"] {
  --color-base: var(--grid-background-color);
  --color-contrast: var(--dark-contrast-color);
}

[color="transparent"] {
  --color-base: transparent;
} 

[color="translucent"] {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}

/* gradient colors */
[color="blue-red"],
[color="v-blue-red"] {
  --color-base: linear-gradient(var(--lightblue) 30%, var(--tomato) 70%);
} 
[color="h-blue-red"] {
  --color-base: linear-gradient(90deg, var(--lightblue) 40%, var(--tomato) 80%);
} 
[color="green-red"],
[color="v-green-red"] {
  --color-base: linear-gradient(var(--success-color) 30%, var(--tomato) 70%);
} 
[color="h-green-red"] {
  --color-base: linear-gradient(90deg, var(--success-color) 30%, var(--tomato) 70%);
} 
[color="ok-warning-alert"],
[color="v-ok-warning-alert"] {
  --color-base: linear-gradient(var(--danger-color) 20%, var(--warning-color) 40%, var(--success-color) 60% );
} 
[color="h-ok-warning-alert"] {
  --color-base: linear-gradient(90deg, var(--success-color) 30%, var(--warning-color) 70%, var(--danger-color) 90%);
} 