@import "./color-attributes.css"; 

/* gradient color helper: https://colordesigner.io/gradient-generator */

:root {

  --blue: #3062a0;
  --indigo: #9400d3;
  --purple: #87606f;
  --pink: #e83e8c;
  --red: #db5d3a;
  --orange: #f8b13e;
  --yellow: #eeca82;
  --green: #05aaad;
  --teal: #20c997;
  --cyan: #17a2b8;
  --brown: #bf7a37;
  --white: #fff;
  --gray: #d6dde4;
  --black: #000000;
  --primary: #20639b;
  --secondary: #173f5f;
  --success: #05aaad;
  --info: #436D8D;
  --warning: #eeca82;
  --danger: #db5d3a;
  --light: #bfbfbf;
  --medium: #8c8c8c;
  --dark: #3f3f3f;
  --dark-light: #535353;
  --darker: #333333;
  --darkest: #272727;

  --primary-color: var(--primary);
  --secondary-color: var(--secondary);

  --success-color: var(--success);
  --info-color: var(--info);
  --warning-color: var(--warning);
  --danger-color: var(--red);
  --light-color: var(--light);
  --medium-color: var(--medium);
  --dark-color: var(--dark);
  --success-danger-color: var(--warning);

  --cold-color: var(--blue);
  --hot-color: var(--red);
  --cold-hot-mix-color: var(--indigo);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);
  --primary-active-color: var(--medium-color);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--dark);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

  --text-color: var(--light);
  --inactive-text-color: var(--purple);

  --view-toolbar-color: var(--light);
  --view-toolbar-background-color: var(--white);
  --view-content-color: var(--white);
  --view-background-color: var(--white);
  --view-footer-color: var(--white);

  --page-background-color: var(--black);

  --grid-background-color: var(--darker);
  --grid-header-color: var(--medium);
  --grid-header-background-color: var(--darkest);

  --tab-color: var(--medium-color);
  --tab-contrast-color: var(--darker);
  --tab-active-color: var(--primary-color);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: var(--black);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);

  --circlemenu-overlay-color: var(--black);

  --chart-text-color: var(--light);
  --chart-text-active-color: var(--light);
  --chart-title-color: var(--light);

  --border-color: var(--gray);

  --switch-off-color: var(--medium);
  --checkbox-off-color: var(--dark);

  --slider-track-color: var(--dark);
  --slider-handle-shadow: none;
  --slider-handle-border: none;

  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: transparent;
  --swiper-dot: var(--medium);
  --swiper-dot-active: var(--info);

  --segments-background-color: var(--dark-light);
  --segments-separator-color: var(--dark);
  --segments-selection-color: var(--primary);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--light);
  --segments-text-color: var(--text-color);

  --meter-background-color: var(--dark);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
}
