@import "./color-attributes.css"; 

/* gradient color helper: https://colordesigner.io/gradient-generator */

:root {
  --gray: #393939;
  --gray10: #1a1a1a;
  --gray15: #272727;
  --gray20: #333333;
  --gray25: #3f3f3f;
  --gray33: #545454;
  --gray40: #666666;
  --gray55: #8c8c8c;
  --gray75: #bfbfbf;
  --gray80: #cccccc;
  --gray85: #d8d8d8;
  --gray90: #e5e5e5;
  --gray95: #f2f2f2;
  --gray-trans: rgba(40, 40, 40, 0.5);
  --lightgray: #777777;
  --red: #DB4846;
  --red-light: #EE5C42;
  --red-dark: #ad3333;
  --green: #32a054;
  --green-light: #80d534;
  --green-dark: #365a38;
  --mint: #5bc995;
  --blue: #436D8D; 
  --blue1: #20639b;
  --blue2: #173f5f;
  --yellow: #e2c637;
  --yellow-light: #ffe066;
  --yellow-dark: #f6d55c;
  --red-dark1: #ed553b;
  --lightblue: #66aaFF;
  --royalblue: #394b98;
  --orange: #f8b13e;
  --white: #ffffff; 
  --brown: #bf7a37;
  --black: #111111;
  --fullblack: #000000;
 
  --violet: #9400d3;
  --violet2: #87606f;
  --transparent: transparent;

  --primary-color: var(--blue1);
  --secondary-color: var(--blue2);

  --success-color: var(--green-light);
  --info-color: var(--lightblue);
  --warning-color: var(--yellow-dark);
  --danger-color: var(--red);
  --light-color: var(--gray75);
  --medium-color: var(--gray40);
  --dark-color: var(--gray25);
  --success-danger-color: var(--yellow);


  --cold-color: var(--blue1);
  --hot-color: var(--red-light);
  --cold-hot-color: var(--violet2);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--black);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

  --text-color: var(--gray75);
  --inactive-text-color: #1e1bcc;

  --view-toolbar-color: var(--gray15);
  --view-toolbar-background-color: var(--white);
  --view-content-color: var(--white);
  --view-background-color: var(--white);
  --view-footer-color: var(--white);

  --page-background-color: var(--fullblack);

  --grid-background-color: var(--gray20);
  --grid-header-color: var(--gray55);
  --grid-header-background-color: var(--gray15);

  --tab-color: var(--gray40);
  --tab-contrast-color: var(--gray20);
  --tab-active-color: var(--primary-color);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: var(--fullblack);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);

  --circlemenu-overlay-color: var(--fullblack);

  --chart-text-color: var(--gray55);
  --chart-text-active-color: var(--white);

  --border-color: var(--gray55);

  --switch-off-color: var(--medium-color);
  --checkbox-off-color: var(--dark-color);

  --slider-track-color: var(--dark-color);
  --slider-handle-shadow: none;
  --slider-handle-border: none;

  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: var(--transparent);
  --swiper-dot: var(--medium-color);
  --swiper-dot-active: var(--info-color);

  --segments-background-color: var(--medium-color);
  --segments-separator-color: var(--dark-color);
  --segments-selection-color: var(--primary-color);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--light-color);
  --segments-text-color: var(--text-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
}
