@import "./color-attributes.css"; 

:root {

  --gray: #393939;
  --gray10: #1a1a1a;
  --gray15: #272727;
  --gray20: #333333;
  --gray25: #3f3f3f;
  --gray33: #545454;
  --gray50: #7f7f7f;
  --gray55: #8c8c8c;
  --gray75: #bfbfbf;
  --gray80: #cccccc;
  --gray85: #d8d8d8;
  --gray90: #e5e5e5;
  --gray95: #f2f2f2;
  --gray-trans: rgba(40, 40, 40, 0.5);
  --orange: #ffb716;
  --red: #ad3333;
  --lightered: rgb(219, 72, 70);
  --tomato: rgb(238, 92, 66);
  --green: #32a054;
  --seagreen: #365a38;
  --mint: #5bc995;
  --blue: #3880ff; 
  --blue1: #20639b;
  --blue2: #173f5f;
  --green1: #3caea3;
  --yellow1: #f6d55c;
  --red1: #ed553b;
  --lightblue: #66aaFF;
  --royalblue: #394b98;
  --white: #ffffff;
  --black: #111111;
  --fullblack: #000000;
  --yellow: #ffe066;
  --violet: #9400d3;
  --transparent: transparent;

  --primary-color: var(--blue);
  --secondary-color: var(--blue2);

  --success-color: var(--green1);
  --info-color: var(--ligthblue);
  --warning-color: var(--yellow1);
  --danger-color: var(--red1);
  --light-color: var(--gray90);
  --medium-color: var(--gray50);
  --dark-color: var(--gray25);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--black);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

  --text-color: var(--gray15);
  --inactive-text-color: #A39B9B;

  --view-toolbar-color: var(--gray15);
  --view-toolbar-background-color: rgba(248, 248, 248, 0.9);
  --view-content-color: var(--white);
  --view-background-color: var(--gray95);
  --view-footer-color: var(--white);
  --view-item-background-color: var(--white);
  --view-item-active-color: var(--gray75);
  --view-border-color: rgb(200, 199, 204);

  --page-background-color: var(--gray90);

  --grid-background-color: var(--white);
  --grid-header-color: var(--gray55);
  --grid-header-background-color: var(--gray30);

  --tab-color: var(--medium-color);
  --tab-contrast-color: var(--primary-contrast-color);
  --tab-active-color: var(--primary-color);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: rgba(0, 0, 0, 0.5);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);
  
  --circlemenu-overlay-color: var(--fullblack);

  --chart-text-color: var(--medium-color);
  --chart-text-active-color: var(--dark-color);
  --chart-grid-line-color: var(--medium-color);
  --chart-title-color: var(--medium-color);

  --border-color: var(--light-color);

  --switch-off-color: var(--light-color);
  --checkbox-off-color: var(--light-color);

  --slider-track-color: var(--light-color);
  --slider-handle-shadow: 1px 1px 4px #ddd;
  --slider-handle-border: 1px solid #f2f2f2;

  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: var(--white);
  --swiper-dot: var(--light-color);
  --swiper-dot-active: var(--info-color);

  --segments-background-color: var(--light-color);
  --segments-separator-color: rgb(200, 199, 204);
  --segments-selection-color: var(--primary-color);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--medium-color);
  --segments-text-color: var(--text-color);


  --meter-background-color: var(--light-color);
}

[invert][color] {
  --color-contrast: var(--white);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
