@import "./color-attributes.css"; 

/* gradient color helper: https://colordesigner.io/gradient-generator */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #2dc16f;
  --teal: #20c997;
  --cyan: #17a2b8;
  --brown: #bf7a37;
  --white: #fff;
  --gray: #d6dde4;
  --black: #000000;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --darker: #272727;

  --primary-color: var(--primary);
  --secondary-color: var(--secondary);

  --success-color: var(--success);
  --info-color: var(--info);
  --warning-color: var(--warning);
  --danger-color: var(--red);
  --light-color: var(--light);
  --medium-color: var(--gray);
  --dark-color: var(--dark);
  --success-danger-color: var(--warning);

  --cold-color: var(--blue);
  --hot-color: var(--red);
  --cold-hot-mix-color: var(--indigo);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);
  --primary-active-color: var(--white);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--dark);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

  --text-color: var(--light);
  --inactive-text-color: var(--purple);

  --view-toolbar-color: var(--light);
  --view-toolbar-background-color: var(--dark);
  --view-content-color: var(--white);
  --view-background-color: var(--black);
  --view-footer-color: var(--white);
  --view-item-background-color: var(--darker);
  --view-item-active-color: var(--dark);
  --view-border-color: var(--dark);

  --page-background-color: var(--black);

  --grid-background-color: var(--dark);
  --grid-header-color: var(--dark);
  --grid-header-background-color: var(--light);

  --tab-color: var(--dark);
  --tab-contrast-color: var(--light);
  --tab-active-color: var(--primary);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: var(--black);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);

  --circlemenu-overlay-color: var(--black);

  --chart-text-color: var(--light);
  --chart-text-active-color: var(--white);
  --chart-grid-line-color: var(--gray);

  --border-color: var(--dark);

  --switch-off-color: var(--dark);
  --checkbox-off-color: var(--light);

  --slider-track-color: var(--dark);
  --slider-handle-shadow: none;
  --slider-handle-border: none;

  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: transparent;
  --swiper-dot: var(--medium);
  --swiper-dot-active: var(--info);

  --segments-background-color: var(--dark);
  --segments-separator-color: var(--gray);
  --segments-selection-color: var(--primary);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--light);
  --segments-text-color: var(--text-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: small;
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
}
