@import "./color-attributes.css"; 

/* gradient color helper: https://colordesigner.io/gradient-generator */

:root {
  --gray: #393939;
  --gray-dark: #534349;
  --gray-light: #4a3c41;
  --gray-darker: #2e2629;
  --gray-darkest: #1c1718;

  --red: #F06060;
  --red-light: #EE5C42;
  --red-dark: #ad3333;
  --green: #4b8b7b;
  --green-light: #80d534;
  --green-dark: #4b5c56;
  --blue: #436D8D; 
  --blue1: #20639b;
  --blue2: #173f5f;
  --blue-light: #66aaFF;
  --yellow: #F3B562;
  --yellow-light: #faeaa9;
  --yellow-dark: #deb82e;
  --orange: #f8b13e;
  --white: #ffffff; 
  --brown: #bf7a37;

  --black: #111111;
  --black-dark: #000000;
 
  --violet: #9400d3;
  --violet2: #87606f;
  --transparent: transparent;

  --primary-color: var(--blue1);
  --secondary-color: var(--blue2);

  --success-color: var(--green);
  --info-color: var(--blue);
  --warning-color: var(--yellow);
  --danger-color: var(--red);
  --light-color: var(--gray-light);
  --medium-color: var(--gray-dark);
  --dark-color: var(--gray-darker);
  --success-danger-color: var(--yellow);

  --cold-color: var(--blue1);
  --hot-color: var(--red-light);
  --cold-hot-mix-color: var(--violet2);

  --primary-contrast-color: var(--white);
  --secondary-contrast-color: var(--white);
  --primary-active-color: var(--white);

  --success-contrast-color: var(--white);
  --info-contrast-color: var(--white);
  --warning-contrast-color: var(--gray);
  --danger-contrast-color: var(--white);
  --light-contrast-color: var(--black);
  --medium-contrast-color: var(--white);
  --dark-contrast-color: var(--white);

 --text-color: var(--gray75);
  --text-color-inactive: #1e1bcc;

  --page-background-color: var(--gray-darkest);

  --grid-background-color: var(--gray-dark);
  --grid-header-color: var(--brown);
  --grid-header-background-color: var(--gray-darker);

  --view-toolbar-color: var(--gray15);
  --view-toolbar-background-color: var(--white);
  --view-content-color: var(--white);
  --view-background-color: var(--white);
  --view-footer-color: var(--white);


  --tab-color: var(--gray40);
  --tab-contrast-color: var(--gray20);
  --tab-active-color: var(--primary-color);

  --popup-color: var(--text-color);
  --popup-background-color: var(--grid-background-color);
  --popup-overlay-color: var(--black-dark);
  --popup-header-color: var(--grid-header-color);
  --popup-header-background-color: var(--grid-header-background-color);

  --circlemenu-overlay-color: var(--black-dark);

  --chart-text-color: var(--gray55);
  --chart-text-active-color: var(--white);

  --border-color: var(--gray55);

  --switch-off-color: var(--medium-color);
  --checkbox-off-color: var(--dark-color);

  --slider-track-color: var(--dark-color);
  --slider-handle-shadow: none;
  --slider-handle-border: none;

  --swiper-scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-track: var(--transparent);
  --swiper-dot: var(--medium-color);
  --swiper-dot-active: var(--info-color);

  --segments-background-color: var(--medium-color);
  --segments-separator-color: var(--dark-color);
  --segments-selection-color: var(--primary-color);
  --segments-selection-contrast-color: var(--primary-contrast-color);
  --segments-hover-color: var(--light-color);
  --segments-text-color: var(--text-color);
}

body {
  --text-font: 0.9em -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;  
  font: var(--text-font);
  color: var(--text-color);
  background: var(--page-background-color);
  -webkit-font-smoothing: antialiased;
}
