ftui-symbol #icon {
    border-radius: 50%;
    background-color: transparent;
    color: var(--secondary-color);
    width: 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

ftui-symbol.active #icon,
ftui-symbol #icon.active  {
    color: var(--primary-color);
}

ftui-symbol #icon:before {
    font-size: 2em;
}

ftui-symbol #icon > #badge:not(:empty) {
  position: absolute;
  top: -1em;
  right: -1em;
  color: white;
  border-radius: 50%;
  background: #e22b49;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-size: 0.9em;
}
