:host {
  position: relative;
  width: 4.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  font-size: inherit;
}

.checkbox {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2.25em;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}

.inner:before, .inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 2.025em;
  padding: 0;
  line-height: 2.025em;
  font-size: 1.25em;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  box-sizing: border-box;
}

.inner:before {
  content: attr(data-text-off);
  padding-left: 0.325em;
  background-color: var(--color-base);
  color: var(--text-color);
}

.inner:after {
  content: attr(data-text-on);
  padding-right: 0.325em;
  background-color: var(--switch-off-color, #777);
  color: var(--inactive-text-color);
  text-align: right;
}

.switch {
  display: block;
  width: 2.125em;
  height: 2.125em;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  border: 2px solid var(--switch-off-color, #777);
  border-radius: 2.25em;
  right: 2.1em;
  transition: all 0.2s ease-in 0s;
}

.checkbox.checked .inner {
  margin-left: 0;
}

.checkbox.checked .switch {
  right: 0.075em;
  border-color: var(--color-base);
}