:host {
  width: calc(100% - 3.5em);
}

:host([isVertical]) {
  height: calc(100% - 2em);
  width: initial;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

:host([isVertical]) .mapper {
  display: flex;
  flex-direction: row-reverse;
}

.rangeable-handle {
  border: none;
  width: 2em;
  height: 2em;
}

.rangeable-track {
  background-color: var(--dark-color);
}

.rangeable-tooltip::before {
  border-color: var(--color-base) transparent transparent;
}

.rangeable-progress, .rangeable-tooltip {
  background-color: var(--color-base);
}

.rangeable-container.rangeable-vertical .rangeable-tooltip::before {
  border-color: transparent var(--color-base) transparent transparent;
}

:host(:not([hasRuler])) .ruler {
  display: none;
}

.ticks,
.numbers {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.ticks span {
  margin-top: 0.5em;
  background-color: var(--text-color);
  height: 0.5em;
  width: 0.125em;
}

:host(:not([isVertical])) .numbers #min {
  margin-left: -0.5em;
}

:host(:not([isVertical])) .numbers #max {
  margin-right: -0.5em;
}

:host([isVertical]) .ruler {
  display: flex;
  flex-direction: row-reverse;
}

:host([isVertical]) .ticks,
:host([isVertical]) .numbers {
  flex-direction: column-reverse;
  height: 100%;
}

:host([isVertical]) .numbers #max {
  margin-bottom: -0.5em;
  margin-right: 0.125em;
}

:host([isVertical]) .ticks span {
  margin-right: 0.5em;
  height: 0.125em;
  width: 0.5em;
}