.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.progress {
  width: 100%;
  height: 1em;
  background-color: var(--weather-bar-background-color, #5d5d5d);
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5em;
}

.scale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}

.min, .max {
  font-size: 0.7em;
  white-space: nowrap;
  width: 7em;
  max-width: 7em;
}

.min {
  text-align: right;
  padding-right: 0.5em;
}

.max {
  text-align: left;
  padding-left: 0.5em;
}
