:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 1px;
  min-height: 1px;
}

:host ::slotted(*:first-child) {
  cursor: pointer; 
  transform: translateZ(0); 
  position: absolute;
}

:host ::slotted(*) {
  position: absolute;
  z-index: 1;
  opacity: 1;
}
