ftui-circlemenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

ftui-circlemenu ul{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;;
} 

ftui-circlemenu  li:first-child {
  cursor: pointer; 
  transform: translateZ(0); 
}

ftui-circlemenu li {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

ftui-circlemenu a{
  text-decoration: none;
  color:#fff;
}
