.container {
  height: 44px;
  line-height: 44px;
  width: 100%;
  padding-top: 0;
  background-color: var(--view-toolbar-background-color);
  background-image: linear-gradient(0deg, rgb(200, 199, 204), rgb(200, 199, 204) 50%, transparent 50%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.container .link {
  position: absolute;
  top: 0;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 17px;
  color: rgb(21, 125, 251);
  padding: 0 5px 0 5px;
  font-weight: 300;
  height: 44px;
  line-height: 44px;
  text-overflow: ellipsis;
  max-width: 140px;
}

.container .link.left {
  left: 0;
  padding-left: 9px;
}

.container .link.right {
  right: 0;
  text-align: right;
  padding-right: 9px;
}

.title {
  display: block;
  padding: 0;
  font-size: 1.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 0 65px;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}