:host {
  display: flex;
}

.content {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--view-item-background-color);
  align-items: center;
  margin: 2em;
  border-radius: 1em;
}
