:host {
  display: flex;
}

.content {
  width: 100%;
  min-height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--view-item-background-color);
  align-items: flex-start;
  margin: 1em 1.5em;
  border-radius: 1em;
  font-size: 1.125rem;
  padding: 1em;
  position: relative;
}
