:host {
  width: 100%;
  display: flex;
  color: var(--view-header-color);
  background: var(--view-header-background-color);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline-start: var(--padding-start, 0);
  padding-inline-end: var(--padding-end, 0);
  border-width: var(--section-border-width, 0 0 1px 0);
  border-style: var(--section-border-style, solid);
  border-color: var(--section-border-color, #777);
  align-items: center;
  justify-content: space-around;
  min-height: 4em;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 0;
}

:host ::slotted(*) {
margin: 0 1em;
}