:host([is-vertical]) .progress {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0.5em 0 0.5em;
}

:host([is-vertical]) .container {
  flex-direction: row;
}

.container {
  width: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
  position: relative;
}

.scale {
  display: none;
}

:host([is-vertical][has-scale]) .scale {
  flex-direction: column-reverse;
}

:host([has-scale]) .scale {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.progress {
  padding: 0.05em 0 0.07em 0.1em;
  background: var(--meter-background-color, var(--dark-color));
  border-radius: var(--meter-border-radius, 1em);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  margin: 0.5em 0 0.5em 0;
}

.progress-bar {
  height: 100%;
  border-radius: var(--meter-border-radius, 1em);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  -webkit-mask:linear-gradient(#fff 0 0);
  mask:linear-gradient(#fff 0 0);
}

.progress-bar::before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: var(--meter-bar-color, var(--color-base, #20639b));
}

:host([has-color-scale]) .scale .min {
  color: var(--color-min, currentColor);
}

:host([has-color-scale]) .scale .max {
  color: var(--color-max, currentColor);
}