:host {
  width: 100%;
}

#container {
  color: var(--chart-text-color);
  font-size: var(--chart-footer-font-size, 13px);
  display: flex;
  width: 100%;
}

#controls {
  padding: 0 5px 0 25px;
}

#date {
  color: var(--chart-text-color);
  opacity: 0.8;
}

#backward,
#forward {
  cursor: pointer;
  padding: 6px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
}

#units {
  flex: 1;
  text-align: right;
  padding: 0 20px 0 5px;
  cursor: pointer;
}

.unit {
  display: none;
}

.unit.enabled {
  display: inline;
}

.unit.enabled.active {
  color: var(--chart-text-active-color, #fff);
}

.unit.enabled ~ .unit.enabled::before {
  content: ' | ';
  color: var(--chart-text-color, #8c8c8c);
}