.header {
  color: var(--departure-txtcolor);
  left: 7px;
  margin-top: 30px;
  position: absolute;
  width: 94%;
  font-size: 12px;
}

.id {
  position: absolute;
  width: 15%;
  text-align: end;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
}

.dest {
  position: absolute;
  left: 15%;
  width: 67%;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
}

.refresh {
  position: absolute;
  color: var(--departure-txtcolor);
  left: 10px;
  width: 1.5em;
  font-size: 8px;
  bottom: 1px;
  cursor: pointer;
}

.time {
  position: absolute;
  left: 80%;
  width: 18%;
  text-align: end;
  font-size: 13px;
}

.id0 {
  display: inline-block;
  padding-left: 3%;
}

.dest0 {
  display: inline-block;
  padding-left: 5%;
}

.time0 {
  display: inline-block;
  padding-right: 5%;
}

.minutes {
  position: absolute;
  right: 3%;
}

.line {
  position: absolute;
  left: 3%;
}

.destination {
  position: absolute;
  left: 25%;
}

.station {
  color: var(--departure-txtcolor);
  position: absolute;
  width: 70%;
  left: 25%;
  top: -27px;
  text-align: left;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.icon {
  color: var(--departure-txtcolor);
  position: absolute;
  overflow: hidden;
  width: 20%;
  text-align: left;
  left: 3%;
  top: -27px;
  background-color: 'transparent;
}

.istime {
  color: var(--departure-txtcolor);
  position: absolute;
  right: 5%;
  bottom: 5px;
  font-size: 11px;
}

.pos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.size {
  position: absolute;
  display: flex;
  justify-content: center;
  top: var(--departure-top);
  width: var(--departure-width);
  height: var(--departure-height);
}

.Default {
  position: absolute;
  width: 92%;
  height: calc(100% - 58px);
  padding-bottom: 3px;
  padding-top: 3px;
  overflow: hidden;
  background: var(--departure-bgcolor);
  border-radius: 0.5em;
}

.listDefault {
  padding-top: 2px;
  position: absolute;
  top: 54px;
  left: 7px;
  width: 94%;
  height: calc(100% - 79px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  color: var(--departure-deptxtcolor);
  background: var(--departure-depcolor);
  border-radius: 0.5em;
  font-size: 12px;
  line-height: 1.5;
  -ms-overflow-style: none;
}

.listDefault::-webkit-scrollbar {
  display: none;
}

.alt {
  background: rgba(0, 0, 0, 0.3);
}

table td, th {
  padding: 0px;
  margin: 0px;
}

.fade {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.table {
  color: #444;
  background: #898989;
}

.table-body {
  color: #CCC;
  background: #484848;
}

:host([RVSOE]) .table {
  background: #B4DDB8;
}

:host([RVSOE]) .table-body {
  color: #B4DDB8;
  background: #0C6F39;
}

:host([DVB]) .table {
  background: #CCAE20;
}

:host([DVB]) .table-body {
  color: #CCAE20;
  background: #333;
}

:host([DB]) .table {
  background: #F01414;
}

:host([DB]) .table-body {
  color: #000;
  background: #fff;
}

:host([VVO]) .table {
  background: #1765BF;
}

:host([VVO]) .table-body {
  color: #fff;
  background: #2A2A5C;
}
