
/* "primary", "secondary", "tertiary", "success", "warning", "danger", "light", "medium", and "dark" */

[color="primary"] {
  --color-base: var(--primary-color);
  --color-contrast: var(--primary-contrast-color);
  --color-shade: var(--seagreen);
}

[color="secondary"] {
  --color-base: var(--secondary-color);
  --color-contrast: var(--secondary-contrast-color);
}

[color="light"],
[color="white"] {
  --color-base: var(--light-color);
  --color-contrast: var(--light-contrast-color);
}

[color="medium"] {
  --color-base: var(--medium-color);
  --color-contrast: var(--medium-contrast-color);
}

[color="dark"] {
  --color-base: var(--dark-color);
  --color-contrast: var(--dark-contrast-color);
}

[color="ok"],
[color="success"],
[color="green"] {
  --color-base: var(--success-color);
  --color-contrast: var(--success-contrast-color);
}

[color="warning"],
[color="yellow"] {
  --color-base: var(--warning-color);
  --color-contrast: var(--warning-contrast-color);
}

[color="danger"],
[color="error"],
[color="red"] {
  --color-base: var(--danger-color);
  --color-contrast: var(--danger-contrast-color);
}

[color="transparent"] {
  --color-base: var(--grid-background-color);
  --color-contrast: var(--medium-color);
}

[color="blue"] {
  --color-base: var(--lightblue);
  --color-contrast: var(--dark-color);
}