html, body, main {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}

main {
  overflow: auto;
}

body {
  width: auto;
  margin: 0;
  /* disable selection */
  user-select: none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body.loading:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.8);
}

body:before {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 200ms;
}

*, *:after, *:before {
  box-sizing: border-box;
}

*:not(:defined) {
  opacity: 0;
}

.fixed {
  position: fixed;
  z-index: 2;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 0.5em 0 0.5em 0;
  background: var(--view-footer-color);
  display: flex;
  justify-content: space-evenly;
}

.narrow {
  letter-spacing: -0.05em;
}

.bold {
  font-weight: bold;
}

.lift {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.h-5 {
  height: 5%;
}

.h-8 {
  height: 8.3%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-12 {
  height: 12.5%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-33 {
  height: 33%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-66 {
  height: 66%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 80%;
}

.h-95 {
  height: 95%;
}

.h-100 {
  height: 100%;
}

.w-20 {
  width: 20%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-align {
  vertical-align: top;
}

.bottom-align {
  vertical-align: bottom;
}

.truncate, .nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wordwrap {
  white-space: pre-wrap;
}

.darker {
  color: #8C8C8C;
}

.thin {
  font-weight: 100;
}

.size-12 {
  font-size: 8rem;
  font-family: "HelveticaNeue-UltraLight", "Segoe UI", "Roboto Light", sans-serif;
}

.size-11 {
  font-size: 6rem;
  font-family: "HelveticaNeue-UltraLight", "Segoe UI", "Roboto Light", sans-serif;
}

.size-10 {
  font-size: 4rem;
  font-family: "HelveticaNeue-UltraLight", "Segoe UI", "Roboto Light", sans-serif;
}

.size-9 {
  font-size: 3.5rem;
}

.size-8 {
  font-size: 3rem;
}

.size-7 {
  font-size: 2.5rem;
}

.size-6 {
  font-size: 2rem;
}

.size-5 {
  font-size: 1.75rem;
}

.size-4 {
  font-size: 1.5rem;
}

.size-3 {
  font-size: 1.25rem;
}

.size-2 {
  font-size: 1rem;
}

.size-1 {
  font-size: 0.875rem;
}

.size-0 {
  font-size: 0.75rem;
}

.size--1 {
  font-size: 0.625rem;
}

.size--2 {
  font-size: 0.5rem;
}

.size--3 {
  font-size: 0.375rem;
}

.size--4 {
  font-size: 0.25rem;
}

/* end font sizes */

.verticalLine {
  border-right-style: outset;
}

.border-top {
  border-top: 1px solid var(--border-color);
}

/* toDo: sort */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.hw-accelerate {
  transform: translateZ(0);
  will-change: transform;
}

.led {
  height: 2em;
  width: 2em;
}

.led:after {
  content: " ";
}

.led.square {
  height: 1em;
  width: 2em;
  border-radius: 3px;
}

#shade {
  position: absolute;
  z-index: 1001;
  background-color: #000000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.blurry {
  color: transparent !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.half-transparent {
  opacity: .5 !important;
}

.transparent {
  opacity: 0;
}

.faded {
  filter: grayscale(100%);
  opacity: .2 !important;
}

.hidden {
  display: none;
}

.has-error {
  border: dashed 2px red;
  min-height: 1em;
  min-width: 1em;
}

/* animations */

.blink {
  animation: blink 1s step-start 0s infinite;
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.shake {
  animation: shake 100ms ease-in-out infinite;
}

.fail-shake {
  animation: fail-shake .5s linear;
}

.hop {
  animation-name: hop;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.flash {
  animation-name: flash;
  animation-timing-function: ease-out;
  animation-duration: .4s;
}

.marquee {
  width: 100%;
  margin: auto;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

/* animation keyframes */

@keyframes hop {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-1em);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.1em);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    text-indent: 100%
  }
  100% {
    text-indent: 0%
  }
}

@keyframes shake {
  2% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg);
  }
  4% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
  }
  6% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
  }
  8% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg);
  }
  10% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg);
  }
  12% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
  }
  14% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  16% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  18% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg);
  }
  20% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
  }
  22% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  24% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg);
  }
  26% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  28% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  30% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg);
  }
  32% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg);
  }
  34% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg);
  }
  36% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
  }
  38% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
  }
  40% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg);
  }
  42% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg);
  }
  44% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg);
  }
  46% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg);
  }
  48% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg);
  }
  50% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg);
  }
  52% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  54% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }
  56% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  58% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg);
  }
  60% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  62% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  64% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg);
  }
  66% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
  }
  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
  }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  72% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg);
  }
  74% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
  }
  76% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  78% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg);
  }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg);
  }
  82% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg);
  }
  84% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg);
  }
  86% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
  }
  88% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  90% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg);
  }
  92% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg);
  }
  94% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
  }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg);
  }
  98% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
  }
  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes fail-shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}

@-webkit-keyframes flash {
  0% {
    background: white;
  }
  100% {
    background: none;
  }
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

@keyframes rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

.drop-hover {
  border: 3px dotted #3a7999;
  color: #3a7999;
  background: rgba(0, 0, 0, 0);
}

.drag {
  transition: all 0.15s ease-out;
  cursor: move;
}

.drag:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* components specials */

/* icon badge */

ftui-circlemenu~ftui-badge, ftui-icon~ftui-badge {
  position: absolute;
  margin: -1.5em -1.5em 1em 1em;
  min-width: 1.2em;
  min-height: 1em;
  --padding-top: 0.15em;
  --padding-bottom: 0.15em;
  z-index: 1;
}

[popup-target], [onclick], [\40 click] {
  cursor: pointer;
}