:host svg {
  margin: 0px;
  padding: 0;
  cursor: pointer;
}

:host([readonly]) svg {
  cursor: default;
}
 
.outline,
.fill,
.center,
.needle,
.scale {
  pointer-events: none;
}
 
.outline {
  stroke: var(--outline-color, var(--dark-color));
}

.fill {
  stroke: var(--fill-color, var(--color-base));
}
 
.needle {
  fill: var(--needle-color, var(--color-base));
}
 
.handle {
  fill: var(--handle-color, var(--color-base));
}

.scale {
  stroke: var(--text-color);
}

.value {
  font-size: 2.5em;
  fill: var(--text-color);
  font-weight: lighter;
}
 
.unit {
  font-size: 1em;
  fill: var(--text-color);
  font-weight: lighter;
}

text {
  text-anchor: middle;
  font-size: 0.8em;
  font-weight: lighter;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
