:host  {
  position: relative;
  padding: 0 1em;
}

:host:after {
  position: absolute;
  right: 1em;
  top: -0.05em;
  content: "\2304";
  font-size: 1.2rem;
  pointer-events: none;
}

select {
  border-radius: 0.75em;
  border: 2px solid var(--border-color);
  background: transparent;
  width: 100%;
  padding: 0.4em 2em 0.4em 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  color: var(--text-color);  
  outline: none;
  cursor: pointer;
}
