:host {
  position: relative;
  padding: 0 1em;
}

:host(:not([nochevron])):after {
  position: absolute;
  width: 1em;
  right: 1em;
  top: 0;
  line-height: 1.75em;
  font-family: 'Courier New', Courier, monospace;
  content: var(--dropdown-chevron, "\2335");
  font-size: 1.2em;
  pointer-events: none;
}

select {
  border-radius: 0.75em;
  border: 2px solid var(--border-color);
  background: transparent;
  width: 100%;
  padding: 0.4em 2em 0.4em 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  color: var(--dropdown-color, var(--text-color, #bfbfbf));
  outline: none;
  cursor: pointer;
}

option {
  color: var(--dropdown-color, var(--text-color, #bfbfbf));
  background-color: var(--dropdown-background-color,
      var(--grid-tile-background-color, #333333));
}

:host([nochevron]) select {
  padding: 0.4em 0.5em 0.4em 0.5em;
}

:host([noborder]) select {
  border-color: transparent;
}