:host {
  --color-base: currentColor;
}

svg {
  width: var(--icon-width, 2.25em);
  height: var(--icon-height, 2.25em);
  margin-top: 0.175em;
  fill: currentColor;
}

svg g[fill] {
  fill: inherit;
}

/* pöse, pöse fhemSVG */
svg path[style] {
  fill: inherit !important;
}

img {
  width: var(--icon-width, 2.25em);
  height: var(--icon-height, 2.25em);
}

svg[viewBox="0 0 448 512"] {
  width: 1.5em;
  height: 1.5em;
}

:host([color]) svg {
  fill: var(--color-base);
  color: var(--color-base);
}

:host([invert]) {
  background: var(--color-base);
  /* color: var(--color-contrast); */
  /* color: black; */
  border-radius: 1em;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host([invert][color]) svg {
  fill: var(--color-contrast);
}

:host([popup-target]) {
  cursor: pointer;
}