:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 90%;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}