.box-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.box-menu ::slotted(ftui-tab) {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.box-menu ftui-tab :hover {
  color: #f1f1f1;
}
