:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: calc(100% - 3.5em);
}

:host([is-vertical]) {
  height: calc(100% - 3.5em);
  width: initial;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

:host([is-vertical]) .wrapper {
  flex-direction: row-reverse;
}

.rangeable-handle {
  border: none;
  width: 1.5em;
  height: 1.5em;
  box-shadow: var(--slider-handle-shadow, none);
  border: var(--slider-handle-border, none);
  z-index: 3;
}


:host(:not([is-vertical])) .rangeable-container {
  margin-top: -0.25em;
}

.rangeable-container {
  position: absolute;
  z-index: 1;
}

.rangeable-progress, .rangeable-track {
  height: 6px;
}

.rangeable-container.rangeable-vertical .rangeable-progress {
  width: 6px;
}

.rangeable-track {
  background-color: var(--slider-track-color);
  display: flex;
  flex-direction: column-reverse;
}

.rangeable-tooltip::before {
  border-color: var(--color-base) transparent transparent;
  color: var(--primary-color);
}

.rangeable-progress {
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0);

}

.rangeable-tooltip {
  background-color: var(--primary-color);
}

.rangeable-progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-base, #20639b);
}

.rangeable-container.rangeable-vertical .rangeable-tooltip::before {
  border-color: transparent var(--color-base) transparent transparent;
}

:host(:not([has-ruler])) .ruler {
  display: none;
}

.ticks,
.numbers {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.ticks span {
  margin-top: 1em;
  background-color: var(--text-color);
  height: 0.5em;
  width: 1px;
}

:host([has-wide-ticks]) .ticks span {
  height: 2em;
}

:host([has-wide-ticks]) .ticks span.small {
  margin-top: 1.25em;
  height: 1.5em;
}

:host([handle="none"]) .rangeable-handle {
  display: none;
}

:host([handle="retro"]) .rangeable-handle {
  width: 35px;
  height: 15px;
  border-radius: 3px;
  background-color: black;
  background-image: linear-gradient(180deg, white, black);
  background-size: 2px 2px;
}

:host(:not([is-vertical])[handle="retro"]) .rangeable-handle {
  width: 15px;
  height: 35px;
  margin-left: 12px;
}

:host(:not([is-vertical])) .numbers #min {
  margin-left: -0.25em;
}

:host(:not([is-vertical])) .numbers #max {
  margin-right: -0.5em;
}

:host([is-vertical][has-ruler]) .rangeable-container.rangeable-vertical {
  margin-right: -0.5em;
}

:host([has-ruler]) .ruler {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
}

:host([is-vertical][has-ruler]) .ruler {
  flex-direction: row-reverse;
  width: 1.5em;
  right: 0.5em;
}

:host([is-vertical][has-ruler]:not([has-wide-ticks])) .ruler {
  right: 1.5em;
}

:host(:not([is-vertical])[has-ruler]:not([has-wide-ticks])) .ruler {
  margin-top: 0.75em;
}


:host([is-vertical][has-ruler]) .ticks,
:host([is-vertical][has-ruler]) .numbers {
  flex-direction: column-reverse;
  height: 100%;
}

:host([is-vertical][has-ruler]) .numbers {
  align-items: flex-end;
}

:host([is-vertical][has-ruler]) .numbers #min {
  margin-bottom: -0.5em;
  margin-right: 0.25em;
}

:host([is-vertical][has-ruler]) .numbers #max {
  margin-bottom: 4.5em;
  margin-right: 0.5em;
}

:host([is-vertical][has-ruler]) .ticks span {
  height: 1px;
  width: 0.5em;
  margin-top: 0;
}

:host([is-vertical][has-wide-ticks]) .ticks span {
  width: 2.5em;
  margin-left: 0.75em;
}

:host([is-vertical][has-wide-ticks]) .ticks span.small {
  margin-left: 1em;
  width: 2em;
}